@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}
:root {
  --brand: #4f46e5;
}
body {
  background: rgb(21, 21, 21);
}
.glass_bg {
  /* From https://css.glass */
  background: rgba(255, 255, 255, 0.2);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
}

.animated-gradient {
  background: repeating-linear-gradient(
    to right,
    var(--brand) 0%,
    var(--blue) 50%,
    var(--brand) 100%
  );
  width: 100%;
  background-size: 200% auto;
  background-position: 0 100%;
  animation: gradient 2s infinite;
  animation-fill-mode: forwards;
  animation-timing-function: linear;
}

@keyframes gradient {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: -200% 0;
  }
}
@keyframes slide {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 100% 100%;
  }
}

/* Custom scrollbar styles */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: var(--brand); /* Tailwind's bg-red-600 */
  border-radius: 20px;
}

/* For Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: var(--brand) transparent;
}

/* Optional: Style for the corner where horizontal and vertical scrollbars meet */
::-webkit-scrollbar-corner {
  background: transparent;
}
